
<input style="align-content: center" type="password" id="guardar" *ngIf="!input">
    <button class="btn btn-primary" (click)="guardada()"*ngIf="!input">GUARDAR</button>
  
  
    <div class="row">
    
<div class="col text-center" >
    
  <img src="assets/img/{{intentos}}.png" class="ahorcado-img">
</div>
</div>
<div class="row">
  <div class="col text-center">
   
    <h3>Intentos <small>{{intentos}} /9</small></h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">
  <h1> {{ palabraOculta }}</h1>
  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
  <h1> Felicidades Ganaste!!</h1>
  <h4> :D</h4>
          <button class="btn btn-primary"  value="pulsa aqui para jugar de nuevo" onclick = "location.reload()" > </button> 

</div>
</div>

<div class="row" *ngIf="perdio">
  <div class="col text-center">
  <h1> Lo Siento, Perdiste :(</h1>
  <h4> {{palabra}}</h4>
  <input class="btn btn-primary"  value="pulsa aqui para jugar de nuevo" onclick = "location.reload()" > 
  </div>
  
</div>

<div class="row" *ngIf="!gano && !perdio">
    <div class="col text-center">
      <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary" > 
        <!-- el button click es un evento comprobar es el metodo (funcion), (letra = el argumento que se va a pasar ) cacha la letra que se seleccione en el arreglo letra -->
        {{ letra }}
      </button>
      
       
    </div>
</div>
